<div [ngSwitch]="type">
    <div class="container" *ngSwitchCase="commandType.Complete">
        <p mat-line>Are you sure you want to complete the conversation?</p>
        <div class="actions" mat-line>
            <button mat-raised-button color="primary" (click)="send()" [matTooltip]="confirm[0] | uppercase">
                <span class="label">{{ confirm[0] }}</span>
                <mat-icon>done</mat-icon>
            </button>
            <button mat-raised-button (click)="cancel()" [matTooltip]="confirm[1] | uppercase">
                <span class="label">{{ confirm[1] }}</span>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="container" *ngSwitchCase="commandType.Date">
        <div class="date-content">
            <mat-radio-group [(ngModel)]="selectedDay">
                <mat-radio-button *ngFor="let day of days" [value]="day" [matTooltip]="day | uppercase">{{ day }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="actions" mat-line>
            <button mat-icon-button color="primary" (click)="send()" [disabled]="!selectedDay" matTooltip="DONE">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="cancel()" matTooltip="CANCEL">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="container" *ngSwitchCase="commandType.Rate">
        <div class="rating-content">
            <p mat-line>Please rate your experience:</p>
            <div class="rating" mat-line>
                <span *ngFor="let rating of ratings.slice().reverse()" [ngClass]="{ selected: rating == selectedRate }">
                    <input type="radio" name="rate" [id]="'star' + rating" [value]="rating" [(ngModel)]="selectedRate" />
                    <label [for]="'star' + rating" [matTooltip]="'RATE ' + rating">★</label>
                </span>
            </div>
        </div>
        <div class="actions" mat-line>
            <button mat-icon-button color="primary" (click)="send()" [disabled]="!selectedRate" matTooltip="DONE">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="cancel()" matTooltip="CANCEL">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>