<div class="chat-container">
    <div class="chat-list" #chatList>
        <mat-list>
            <mat-list-item class="message"
                *ngFor="let chat of chats"
                [ngClass]="chat.author == name ? 'align-right' : 'align-left'">
                <app-message [message]="chat"></app-message>
            </mat-list-item>
            <mat-list-item class="message align-right" *ngIf="!!command">
                <app-command [command]="command" (emitMessage)="sendCommandMessage($event)"></app-command>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="chat-input">
        <mat-divider></mat-divider>
        <mat-form-field appearance="outline" floatLabel="never">
            <input matInput placeholder="Message" name="message" (keyup.enter)="sendMessage()" [(ngModel)]="message" #chatInput>
            <button mat-mini-fab color="primary" matSuffix (click)="sendMessage()" [disabled]="!message">
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button (click)="sendCommand()" [disabled]="!!command">
            <span class="text">Command </span>
            <mat-icon>import_export</mat-icon>
        </button>
    </div>
</div>