$headerHeight: 60px;
$containerHeight: calc(100% - #{ $headerHeight });
$chatInputHeight: 60px;

$backgroundColor: #fafafa;
$darkColor: rgba(0, 0, 0, 0.8);
$primaryColor: rgba(63, 81, 181, 0.24);
$lightColor: #e6e9ff;
$whiteColor: #ffffff;